/*
* @Author: Link
* @Date:   2019-07-30 20:07:05
* @Last Modified by:   Marte
* @Last Modified time: 2019-07-31 10:44:57
*/

a{
    color: #999;
}

img{
    max-width:98%;
}

.cm-c{
  text-align: center;
  display:block;
}
.cm-l{
  float:left;
  width:33.33%;
  display:block;
}
.cm-r{
  float:right;
  width:33.33%;
  dispaly:block;
  text-align:right;
}

.post-p{
    font-size:15px;
    background:#FFF;
    color:#999;
    padding:4px 15px;
    border-radius:6px;
    -webkit-box-shadow: 0 2px 4px -1px rgba(0, 0, 0, .2), 0 4px 5px 0 rgba(0, 0, 0, .14), 0 1px 10px 0 rgba(0, 0, 0, .12);
    box-shadow: 0 2px 4px -1px rgba(0, 0, 0, .2), 0 4px 5px 0 rgba(0, 0, 0, .14), 0 1px 10px 0 rgba(0, 0, 0, .12);
    -webkit-transition: all .5s cubic-bezier(.4, 0, .2, 1), box-shadow .2s cubic-bezier(.4, 0, 1, 1);
    transition: all .5s cubic-bezier(.4, 0, .2, 1), box-shadow .2s cubic-bezier(.4, 0, 1, 1);
    margin: 0 -12px 50px -12px;
}

.post-p:hover{
    -webkit-box-shadow: 0 6px 6px -3px rgba(0, 0, 0, .2), 0 10px 14px 1px rgba(0, 0, 0, .14), 0 4px 18px 3px rgba(0, 0, 0, .12);
    box-shadow: 0 6px 6px -3px rgba(0, 0, 0, .2), 0 10px 14px 1px rgba(0, 0, 0, .14), 0 4px 18px 3px rgba(0, 0, 0, .12);
}

.post-link{
    color: #ff4081;
    font-size: 30px;
    text-decoration: none;
}

.post-more{
    line-height: 35px;
    font-size: 20px;
}

.post-meta{
    font-size: 18px;
}

.footer-link{
    color: #999999;
    text-align:center;
    font-size: 12px;
}

.footer-linkbig{
    color: #999999;
    text-align:center;
    font-size: 20px;
}

.default-content{
color: #999999;
margin-left:20px;
margin-right:20px;
line-height:45px;
}

.tags{
    color: #999999;
    text-align:center;
}

.pic-more{
    margin-top:4px;
    padding:0 50px 0 50px;
    color: #cccccc;
    text-align:center;
}

.span-center{
    text-align:center;
    display: block;
}

.sitetime{
    color:#999999;
    font-size:10px;
    text-align:center;
    display: block;
    font-weight:bold;
}

.tags-chip{
    display:inline-block;
    height:32px;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
    margin:2px 0;
    white-space:nowrap;
    cursor:pointer;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
    background-color:#e0e0e0;
    border-radius:16px;
    -webkit-transition:-webkit-box-shadow .25s cubic-bezier(.4,0,.2,1);transition:-webkit-box-shadow .25s cubic-bezier(.4,0,.2,1);
    transition:box-shadow .25s cubic-bezier(.4,0,.2,1);transition:box-shadow .25s cubic-bezier(.4,0,.2,1),-webkit-box-shadow .25s cubic-bezier(.4,0,.2,1);
    will-change:box-shadow;
}

.chip-icon{
    position:relative;
    display:inline-block;
    width:32px;
    height:32px;
    margin-right:-4px;
    overflow:hidden;
    font-size:18px;
    line-height:32px;
    color:#fff;
    text-align:center;
    vertical-align:middle;
    background-color:#989898;
    border-radius:50%;
}

.chip-title{
display:inline-block;
height:32px;
padding-right:12px;
padding-left:12px;
font-size:14px;
line-height:32px;
vertical-align:middle;
}

.emoji{
    width: auto;
}

//语法高亮

.highlight table td {
margin: 0 -0.75em 0 -0.75em;overflow:scroll;-webkit-overflow-scrolling:touch; padding: 5px;
}
.highlight table pre {overflow:scroll;-webkit-overflow-scrolling:touch; margin: 0; }
.highlight .cm {
  color: #999988;
  font-style: italic;
}
.highlight .cp {
  color: #999999;
  font-weight: bold;
}
.highlight .c1 {
  color: #999988;
  font-style: italic;
}
.highlight .cs {
  color: #999999;
  font-weight: bold;
  font-style: italic;
}
.highlight .c, .highlight .cd {
  color: #999988;
  font-style: italic;
}
.highlight .err {
  color: #a61717;
  background-color: #e3d2d2;
}
.highlight .gd {
  color: #E65100;
  background-color: #ffdddd;
}
.highlight .ge {
  color: #E65100;
  font-style: italic;
}
.highlight .gr {
  color: #aa0000;
}
.highlight .gh {
  color: #999999;
}
.highlight .gi {
  color: #E65100;
  background-color: #ddffdd;
}
.highlight .go {
  color: #888888;
}
.highlight .gp {
  color: #555555;
}
.highlight .gs {
  font-weight: bold;
}
.highlight .gu {
  color: #aaaaaa;
}
.highlight .gt {
  color: #aa0000;
}
.highlight .kc {
  color: #E65100;
  font-weight: bold;
}
.highlight .kd {
  color: #E65100;
  font-weight: bold;
}
.highlight .kn {
  color: #E65100;
  font-weight: bold;
}
.highlight .kp {
  color: #E65100;
  font-weight: bold;
}
.highlight .kr {
  color: #E65100;
  font-weight: bold;
}
.highlight .kt {
  color: #445588;
  font-weight: bold;
}
.highlight .k, .highlight .kv {
  color: #E65100;
  font-weight: bold;
}
.highlight .mf {
  color: #009999;
}
.highlight .mh {
  color: #009999;
}
.highlight .il {
  color: #009999;
}
.highlight .mi {
  color: #009999;
}
.highlight .mo {
  color: #009999;
}
.highlight .m, .highlight .mb, .highlight .mx {
  color: #009999;
}
.highlight .sb {
  color: #d14;
}
.highlight .sc {
  color: #d14;
}
.highlight .sd {
  color: #d14;
}
.highlight .s2 {
  color: #d14;
}
.highlight .se {
  color: #d14;
}
.highlight .sh {
  color: #d14;
}
.highlight .si {
  color: #d14;
}
.highlight .sx {
  color: #d14;
}
.highlight .sr {
  color: #009926;
}
.highlight .s1 {
  color: #d14;
}
.highlight .ss {
  color: #990073;
}
.highlight .s {
  color: #d14;
}
.highlight .na {
  color: #008080;
}
.highlight .bp {
  color: #999999;
}
.highlight .nb {
  color: #0086B3;
}
.highlight .nc {
  color: #445588;
  font-weight: bold;
}
.highlight .no {
  color: #008080;
}
.highlight .nd {
  color: #3c5d5d;
  font-weight: bold;
}
.highlight .ni {
  color: #800080;
}
.highlight .ne {
  color: #990000;
  font-weight: bold;
}
.highlight .nf {
  color: #990000;
  font-weight: bold;
}
.highlight .nl {
  color: #990000;
  font-weight: bold;
}
.highlight .nn {
  color: #555555;
}
.highlight .nt {
  color: #000080;
}
.highlight .vc {
  color: #008080;
}
.highlight .vg {
  color: #008080;
}
.highlight .vi {
  color: #008080;
}
.highlight .nv {
  color: #008080;
}
.highlight .ow {
  color: #E65100;
  font-weight: bold;
}
.highlight .o {
  color: #E65100;
  font-weight: bold;
}
.highlight .w {
  color: #bbbbbb;
}
.highlight {
  background-color: #f8f8f8;
}


@-webkit-keyframes fade-in-down {
  from {
    opacity: 0;
    -webkit-transform: translateY(30px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
}

@keyframes fade-in-down {
  from {
    opacity: 0;
    transform: translateY(30px); }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade{
  -webkit-animation: fade-in-down 0.5s;
  animation: fade-in-down 0.5s;
}

.h1,.h2,.h3,.h4,.lead,body,h1,h2,h3,h4{
  font-family:RobotoDraft,Roboto,"Helvetica Neue",Helvetica,"Segoe UI","Microsoft YaHei",arial,sans-serif;font-weight:300;
}

h1,h2,h3,h4{
    color: #FF7043;
}

@media (min-width: 767px) {
body{
 padding-left:500px;
 padding-right:500px;
 }
}
