---
layout: default
---

<div class="fade post-p">
  <p style="margin-left:20px;margin-right:20px;line-height:25px;" id="content">
  <p><a class="post-link" href="{{ post.url | relative_url }}" title="{{ post.title }}">{{ page.title | escape }}</a></p>
    {% assign date_format = site.hydrogen-blog.date_format | default: "%b %-d, %Y" %}
    <p style="margin-top:-20px"><span class="post-meta">{{ page.date | date: date_format }}</span></p>
    <span class="post-more">{{ content }}</span>
  </p>
</div>

{% tags=page.tags tag_count=page.tags.size %}
{% if include.tag_count > 0 %}
<div class="fade post-p">
{% include tags_list.html tags=page.tags tag_count=page.tags.size %}
</div>
{% endif %}