---
layout: default
---

<div class="fade post-p">
  <h2 style="margin-left:20px;margin-right:20px;line-height:25px;" id="content">
  <p><a class="post-link" href="{{ post.url | relative_url }}" title="{{ post.title }}">{{ page.title | escape }}</a></p>
    {% assign date_format = site.hydrogen-blog.date_format | default: "%b %-d, %Y" %}
    <p style="margin-top:-20px"><span class="post-meta">{{ page.date | date: date_format }}</span></p>
    <span class="post-more">{{ content }}</span>
  </h2>
</div>